    
        h1{
            text-align: center;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight:20px;
            margin-bottom: 50px;
            margin-top: 100px;
        }
        body{
            background-color:#bce0ec;
        }
        .foto-centro{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 300px;
            border-radius: 20px;
            border-style:solid;
            border-width:15px;
            border-color: #A4C4CC;
            float: left;
            margin-right: 15px;
            padding: 15px;
            background-color: grey;
        }
        .text-p{
            font-family:Arial, Helvetica, sans-serif ;
            line-height: 25px;
            
            
        }
        .color-h2{
            background-color: #A4C4CC;
            border-radius: 20px;
            padding: 15px;
            
        }
         li, ul, ol{
            font-family:Arial, Helvetica, sans-serif;
            line-height: 30px;
            text-align: center;
            list-style: none;
            list-style-position: inside;
            background-color: #99B4BC;
            border-radius: 20px;
        }
        h2{
            font-family: sans-serif;
            text-decoration: underline;
        }
        div.indice-top {

            background-color:#99B4BC;
            width: 100%;
            position: fixed;
            top: 0;
        }