    
        h1{
            text-align: center;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight:20px;
            margin-bottom: 50px;
            margin-top: 55px;
            border: outset;
            border-style:dotted;
            border-color: #7ebed3;
            
        }
        body{
            background-color:#bce0ec;
            color: black;
        }
        .foto-centro{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 300px;
            border-radius: 20px;
            border-style:outset;
            border-width:15px;
            border-color: #7ebed3;
            float: left;
            margin-right: 15px;
            padding: 15px;
            background-color: #bce0ec;
        }
        .text-p{
            font-family:Arial, Helvetica, sans-serif ;
            line-height: 25px;
            background-color: #7ebed3;
            margin-left: 100px;
            
            
        }
        .color-h2{
            background-color: #7ebed3;
            border-radius: 20px;
            border-style:outset;
            padding: 15px;
            
        }
         ol.habilidades, li{
            font-family:Arial, Helvetica, sans-serif;
            color: black;
            line-height: 30px;
            text-align:;
            list-style: none;
            list-style-position: inside;
            font-family: monospace;
            font-size: 30px;
            text-decoration: dotted;
        }
        h2{
            font-family: sans-serif;
            text-decoration: underline;
        }
        div.indice {
            margin-left: -8px;
            background-color:#7ebed3;
            height: 15%;
            width: 100%;
            position: fixed;
            top: 0;
            scroll-behavior: smooth;
            text-align: center;
            border: 5px;
            border-style:double;
            border-color:#bce0ec;
        }
        div.botoes{
            line-height: 25px;
            word-spacing: 30px;
            border: 10px;
            border-style:initial;
        }
        div.aprendizado{
            line-height:;
            display:inline;
            
        }
        .sobre{
            margin-top: 80px;
        }
        div.pag1{
            background-image:url();
            padding: 45px 45px;
            margin: 0%;
        }
        div.redes{
            background-image: url(/rede\ v4.png);
            background-color:#7ebed3 ;
            background-size:100%;
            line-height: 50px;
            left: 100%;
            right: 100%;
            padding: 80px;
        }
        .aprendizado1{
            margin-top:100px;
        }
        .aprendizado2{
            margin-top: -47px;
            margin-left: 250px;
        }
        .lista1{
            float:left;
        }
        .lista2{
            float:left;
        }
        div.habilidades{
            margin-top: 350px;
        }
